* {
    font-family: Verdana, sans-serif;
}

body {
    margin: 0;
}

#main {
    width: 90%;
    background-color: #ffffff;
    text-align: center;
    margin: 2em auto;
}

#massimophoto, fieldset, #errMsg {
    width: 40%;
    margin: auto;
}

fieldset {
    margin-top: 1em;
}

legend {
    text-align: left;
}

#banner, #w3c {
    background-image: url("../img/banner-background.png");
    background-repeat: repeat-x;
    padding: 0.5em;
}

#banner {
    color: #ffffff;
    font-weight: bold;
}

#list {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
}

.evenRow, .oddRow {
    border: 1px solid #b1b1ac;
}

.evenRow {
    background-color: #dad9d4;
}

#errMsg > div {
    background-color: #ff6060;
    color: white;
    font-weight: bold;
    padding: 0.5em;
}
