body {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    font-family: "Georgia", "Garamond", serif;
    color: #404040;
    font-size: 11pt;
    background-image: url(img/background.png);
    background-attachment: fixed;
}

h1, h2, h3 {
    color: #a4a400;
    font-family: "Lucida Sans Unicode", "Helvetica", "Arial", sans-serif;
    text-decoration: underline;
    letter-spacing: 0.25em;
}

h1 > span, h2 > span, h3 > span {
    background-color: #f0f0f0;
}

h1 {
    font-weight: bold;
    font-size: 22pt;
    text-align: center;
}

h2, h3 {
    text-align: left;
    font-size: 18pt;
}

a {
    color: #a4a400;
}


#img-box {
    text-align: right;
}